.vaga {
    width: 30px;
    height: 60px;
    padding: 0;
    margin: 0;
    border-top: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
}

.vazio {
    width: 30px;
    height: 60px;
    padding: 0;
    margin: 0;
}

.vagacima {
    width: 30px;
    height: 60px;
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
}

.objeto {
    width: 30px;
    height: 60px;
    background-color: black;
}

.AnteriorVazio {
    border-top: 6px solid;
}

table {
    border-collapse: collapse;
}

td {
    padding: 0;
    margin: 0;
}

.ocupada {
    background-color: rgba(190, 0, 0, 0.7);
}

.livre {
    background-color: rgba(7, 78, 0, 0.7);
}

.ladoDireito {
    border-right: 6px solid;
}

.ladoEsquerdo {
    border-left: 6px solid;
}