.vaga {
    width: 30px;
    height: 60px;
    padding: 0;
    margin: 0;
    border-top: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
}

.vazio {
    width: 30px;
    height: 60px;
    padding: 0;
    margin: 0;
}

.normal {
    background-color: #88A0A8;
    color: white;
    /* Cor para vaga normal */
}

.deficiente {
    background-color: #546A76;
    color: white;
    /* Cor para vaga de deficiente */
}

.idoso {
    background-color: #334751;
    color: white;
    /* Cor para vaga de idoso */
}

.autista {
    background-color: #B4656F;
    color: white;
    /* Cor para vaga de autista */
}

.vazio {
    background-color: white;
    /* Cor para vaga vazia */
}

.vagacima {
    width: 30px;
    height: 60px;
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
}

.objeto {
    width: 30px;
    height: 60px;
    background-color: black;
}

.AnteriorVazio {
    border-top: 6px solid;
}

table {
    border-collapse: collapse;
}

td {
    padding: 0;
    margin: 0;
}

td {
    padding: 0;
    margin: 0;
}

.ladoDireito {
    border-right: 6px solid;
}

.ladoEsquerdo {
    border-left: 6px solid;
}