.vazio {
    width: 30px;
    height: 56px;
    padding: 0;
    margin: 0;
}

.objeto {
    width: 30px;
    height: 56px;
    background-color: black;
}

table {
    border-collapse: collapse;
}

td {
    padding: 0;
    margin: 0;
    width: 30px;
    height: 56px;
    border: 1px solid;
}

.ocupada {
    background-color: rgba(190, 0, 0, 0.5);
}

.livre {
    background-color: rgba(7, 78, 0, 0.5);
}

.imgsCarros{
    padding: 0;
    margin: 0;
}

.vaga-container{
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
    width: 30px;
    height: 56px;
    border: 1px solid;
}

.vagaCadastrada{
    background-color: rgba(166, 166, 166)
}