#estacionamento {
    width: 500px;
    height: 200px;
    padding: 5px;
    margin: 25px;
  }
  
  .vaga {
    width: 50px;
    height: 100px;
    border-top: 5px solid  grey;
    border-left: 5px solid  grey;
    border-right: 5px solid  grey;
  }

  .vagacima {
    width: 50px;
    height: 100px;
    border-bottom: 5px solid  grey;
    border-left: 5px solid  grey;
    border-right: 5px solid  grey;
  }

  .ladoDireito{
    border-right: 10px solid  grey;
  }
  
  .ladoEsquerdo{
    border-left: 10px solid  grey;
  }

.quadro{
    width: 1000px;
    height: 700px;
    margin: auto;
    background-color: white;
}

  /* Media Query para telas menores que 600px */
@media (max-width: 500px) {
    #estacionamento {
      width: 100%;
      height: auto;
      padding: 0;
    }
  
    .vaga,
    .vagacima {
      width: 100%;
      height: 50px;
      border: none;
      border-bottom: 5px solid grey;
      margin-bottom: 5px;
    }
  
    .ladoDireito,
    .ladoEsquerdo {
      border: none;
    }
  }
